body{
    width: 100%;
    height: 100%;
    margin:0% auto;
}
ul {
    padding: 0px!important;
}
.menu-p3 {
    width: 100%;
    background-color: #2a2a2a;
    height: 100px;
}
main {
   margin: 0% auto;
   width: 980px;
   position: relative;
}
.logo3 {
    float: left;
    padding: 0%;
    width: 0%;
}
.header3 {
    background-color: #ffffff;
    width: 980px;
    margin: 0% auto;
    padding: 16px;
}
.menu-url3 {
    height: 80px;
    border-bottom: 3px solid #efefef;
}
.menu3 ul li {
    display: inline-block;
    color:#8b8b8b;
    margin-left: 15px;
    height: 50px;
}
.menu3 ul li a {
    color:#8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu3 {
    width: 70%;
    float: left;
}
.col3 {
    width: 100%;
    float: left;
    position: relative;
}
.p1 {
    width: 960px;
    height: 480px;
    position: relative;
    left: 550px; 
}
.t11 {
    color: #2a2a2a;;
    text-decoration: none;
    width: 960px;
    height: 480;
    position: relative;
    left: 250px; 
    font-size: 20px;
    text-transform: uppercase;
}
.t1 {
    color:#8b8b8b;
    text-decoration: none;
    font-size: 15.9px;
    text-transform: uppercase;
    width: 850px;
    height: 480;
    position: relative;
    left: 250px;
}
.img1k {
    width: 960px;
    height: 480px;
    position: relative;
    left: 550px;
}
.origem {
    color: #2a2a2a;;
    text-decoration: none;
    width: 960px;
    height: 480;
    position: relative;
    left: 250px; 
    font-size: 20px;
    text-transform: uppercase;
}
.tt1k {
    color:#8b8b8b;
    text-decoration: none;
    font-size: 15.9px;
    text-transform: uppercase;
    width: 960px;
    height: 480;
    position: relative;
    left: 250px;
}